extends ../layout

block content
	h1 Rankning: 3.1 / 5.0
	hr
	p Donec id elit non mi porta gravida at eget metus.
	.row
		.col-sm-6
			h2 Avg sale: #{averageSale} 
				small.text-warning (Ner 0.3%)
			p Fusce dapibus, tellus ac cursus commodo.
			h2 cRat: 0.24
			p
				span.text-primary Upp 13%
			p Etiam porta sem malesuada magna mollis euismod.
		.col-sm-6
			h2 Heading
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn.btn-default(href='#', role='button') View details »